.select_block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.label {
    color: #fff;
}

.select {
    height: 40px;
    width: 200px;
    padding: 0 15px;
}

@media (max-width: 767px) {

    .label {
        font-size: 18px;
    }

    .select {
        height: 36px;
        width: 160px;
    }
}

@media (max-width: 424px) {
    .select {
        height: 30px;
        width: 160px;
    }
}